@font-face{
    src: url(fonts/LucidaGrandeBold.ttf);
    font-family:LucidaGrandeBold;
}
* {
    box-sizing: border-box;
}
body {
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clear-float {
    content: "";
    clear: both;
    display: table;
}
/* Top Tavbar */
.top-navbar{
    /* width: 1400px; */
    /* margin: 0 auto; */
}
.logo{
    float:left;
    /* width: 7%; */
}
.logo img{
    width: 120px;
}
.search-icon{
    float: right;
    /* width: 10%; */
}
/* image slider */
.carousel-indicators [data-bs-target] {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
}
.carousel-item img{
    width: 1920px;
    height: 620px;
}
.carousel-description{
    position: absolute;
    top: 270px;
    text-align: center;
    width: 100%;
}
.carousel-description button{
    padding: 4px 47px 6px 47px;
    text-transform: uppercase;
}
.title{
    font-size: 60px !important;
    font-family: LucidaGrandeBold;
    text-transform: uppercase;
    line-height: 124px !important;
}
/* Advertisement */
.advertisement-container{
    background-color: #f9f9fa;
}