@font-face{
    src: url(fonts/LucidaGrandeBold.ttf);
    font-family:LucidaGrandeBold;
}
* {
    box-sizing: border-box;
}
body {
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none !important;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 !important;
    padding: 0 !important;
}
.clear-float {
    content: "";
    clear: both;
    display: table;
}
/* Top Tavbar */
.top-navbar{
    /* width: 1400px; */
    /* margin: 0 auto; */
}
.logo{
    float:left;
    /* width: 7%; */
}
.logo img{
    width: 120px;
}
.search-icon{
    float: right;
    /* width: 10%; */
}
/* image slider */
.carousel-indicators [data-bs-target] {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
}
.carousel-item img{
    width: 1920px;
    height: 620px;
}
.carousel-description{
    position: absolute;
    top: 270px;
    text-align: center;
    width: 100%;
}
.carousel-description a{
    text-transform: uppercase;
}
.title{
    font-size: 60px !important;
    font-family: LucidaGrandeBold;
    text-transform: uppercase;
    line-height: 124px !important;
}
/* Advertisement */
.advertisement-container{
    background-color: #f9f9fa;
}
/* cards section */
.membership-bg{
    background: url(images/MembershipBox1.jpg) no-repeat;
    background-size: cover;
    min-height: 460px;
}
.club-bg{
    background: url(images/ClubsAndSocietiesBox2.jpg) no-repeat;
    background-size: cover;
    min-height: 460px;
}
.card-heading{
    font-size: 46px !important;
    font-family: LucidaGrandeBold;
    text-transform: uppercase;
    line-height: 67px !important;
}
.membership-bg a,.club-bg a{
    text-transform: uppercase;
}
.card-padding{
    padding: 119px 0 65px 0 !important;
}
.cards-description{
    height: 113px;
}
.cards-description h5{
    text-transform: uppercase;
}
.icon-position{
    position: absolute;
    right: 20px;
    bottom: 0;
}
/* video container */
iframe{
    min-height: 651px;
}